* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: rgb(24, 24, 24);
}
main {
    margin: 1rem;
    text-align: center;
}


 main h1{
     color: #01fe87;
 }
 .info{
  display: flex;
  margin: 1rem;
     
}
nav a h1{
 
 margin-left: 10vh;
 margin-right: 5vh;
  color:#01fe87;

}
.line{
  margin-left: 5%;
  width: 90%;
  height: 0.2rem;
  border-radius: 2rem;
  background: #01fe87;
}
a{
  text-decoration: none;
}